<link href="node_modules/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css" />
<div layout="column" layout-align="start">
  <div flex-offset="5">
    <h1 class="headline">Messages</h1>
  </div>
  <div ng-if="$ctrl.loading">
    <div flex-offset="15" flex-offset-xs="5">
      <h4>Loading <i class="fa fa-refresh fa-spin text-muted"></i></h4>
    </div>
  </div>
  <div ng-show="!$ctrl.loading" layout="row">
    <div flex="66" flex-xs="90" flex-offset="15" flex-offset-xs="5">
      <div class="alert alert-success" ng-show="$ctrl.showDeleteSuccessAlert">
        <strong ng-if="$ctrl.inboxActive">Messages successfully archived</strong>
        <strong ng-if="$ctrl.archiveActive">Messages successfully deleted</strong>
      </div>
      <div class="alert alert-danger" ng-show="$ctrl.showDeleteFailAlert">
        <strong ng-if="$ctrl.inboxActive">Error: Messages could not be archived</strong>
        <strong ng-if="$ctrl.archiveActive">Error: Messages could not be deleted</strong>
      </div>
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Inbox ({{$ctrl.inboxCount}})" ng-class="{active: $ctrl.inboxActive}" ng-click="$ctrl.inboxTab()" />
          <md-tab label="Archive ({{$ctrl.archiveCount}})" ng-class="{active: $ctrl.archiveActive}" ng-click="$ctrl.archiveTab()" />
        </md-tabs>
      </md-content>
      <div ng-if="!$ctrl.loading">
        <h3 ng-if="$ctrl.inboxActive && $ctrl.inboxCount == 0">You have no messages.</h3>
        <h3 ng-if="$ctrl.archiveActive && $ctrl.archiveCount == 0">You have no archived messages.</h3>
      </div>
      <div style="max-height: 500px; overflow-y: auto;">
        <md-table-container>
          <table class="table table-condensed table-responsive"
            md-table
            md-row-select
            multiple
            ng-model="$ctrl.selectedMessages"
            ng-if="$ctrl.messages.length > 0">
            <thead md-head
              md-on-reorder="$ctrl.sortClick"
              md-order="$ctrl.orderBy">
              <tr md-row>
                <th md-column md-order-by="subject"><span>Subject</span></th>
                <th md-column md-order-by="date"><span>Date</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="message"
                md-select-id="id"
                md-auto-select
                ng-repeat="message in $ctrl.messages | orderBy: $ctrl.orderBy"
                md-on-select="$ctrl.logItemSelect">
                <td md-cell><a ng-click="$ctrl.view(message.id)">{{message.subject}}</a></td>
                <td md-cell>{{message.date|date:'medium'}}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>
      <div>
        <md-button ng-if="$ctrl.inboxActive && $ctrl.selectedMessages.length > 0"
          class="md-primary md-raised"
          ng-click="$ctrl.archiveSelected()">
          Archive selected
        </md-button>
        <md-button ng-if="$ctrl.archiveActive && $ctrl.selectedMessages.length > 0"
          class="md-primary md-raised"
          ng-click="$ctrl.deleteSelected()">
          Delete selected
        </md-button>
      </div>
    </div>
  </div>
</div>
