<div ng-if="$ctrl.message" layout="column" layout-align="start">
  <div flex-offset="5">
    <h1 class="headline">View Messages</h1>
  </div>
  <div ng-if="$ctrl.loading">
    <div flex-offset="15" flex-offset-xs="5">
      <h4>Loading <i class="fa fa-refresh fa-spin text-muted"></i></h4>
    </div>
  </div>
  <div ng-show="!$ctrl.loading" layout="row">
    <div flex="66" flex-xs="90" flex-offset="15" flex-offset-xs="5">
      <div class="row alert alert-danger" ng-show="$ctrl.showFailAlert">
        <strong ng-if="!$ctrl.message.meta.archived">Error: Message could not be archived</strong>
        <strong ng-if="$ctrl.message.meta.archived">Error: Message could not be deleted</strong>
      </div>
      <div layout="row" layout-aligh="end center" layout-margin style="border-bottom: 1px solid #666; margin-bottom: 20px;">
        <div flex="noshrink">
          <h4>Message</h4>
        </div>
        <div class="text-nowrap text-right">
          <a ng-if="$ctrl.index < $ctrl.messages.length - 1" ng-click="$ctrl.view($ctrl.messages[$ctrl.index + 1].id)"><h4><span class="glyphicon glyphicon-chevron-left"/>Newer</h4></a>
        </div>
        <div class="text-nowrap text-right">
          <a ng-if="$ctrl.index > 0" ng-click="$ctrl.view($ctrl.messages[$ctrl.index - 1].id)"><h4>Older<span class="glyphicon glyphicon-chevron-right"/></h4></a>
        </div>
      </div>
      <div layout="row" style="margin-left: 16px;">
        <div flex-md="10">
          <strong>From</strong>
        </div>
        <div flex-md="80">
          <p>{{$ctrl.message.sender}}</p>
        </div>
      </div>
      <div layout="row" style="margin-left: 16px;">
        <div flex-md="10">
          <strong>Date</strong>
        </div>
        <div flex-md="80">
          <p>{{$ctrl.message.date|date:'medium'}}</p>
        </div>
      </div>
      <div layout="row" style="margin-left: 16px;">
        <div flex-md="10">
          <strong>Subject</strong>
        </div>
        <div flex-md="80">
          <p>{{$ctrl.message.subject}}</p>
        </div>
      </div>
      <div layout="row" style="margin-left: 16px;">
        <div flex-md="10">
          <strong>Body</strong>
        </div>
        <div flex-md="80">
          <p ng-bind-html="$ctrl.message.content.body"></p>
        </div>
      </div>
      <div layout="row" style="margin-left: 8px; margin-top: 30px;">
        <div flex-sm="20">
          <md-button ng-if="$ctrl.message.meta.archived"
            type="button" class="md-raised md-warn" ng-click="$ctrl.delete()">Delete</md-button>
          <md-button ng-if="!$ctrl.message.meta.archived"
            type="button" class="md-raised md-warn" ng-click="$ctrl.archive()">Archive</md-button>
        </div>
        <div flex-sm="25">
          <md-button type="button" class="md-primary md-raised" ng-click="$ctrl.viewMessages()">Return to Messages</md-button>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-show="!$ctrl.loading" ng-if="$ctrl.message == null" class="row">
  <div layout="row">
    <h1 class="headline">Error retrieving message</h1>
  </div>
  <div layout="row">
    <div class="col-sm-offset-5 col-sm-3">
      <md-button style="margin-top: 40px;" type="button"  class="md-primary md-raised" ng-click="$ctrl.viewMessages()">Return To Messages</md-button>
    </div>
  </div>
</div>
